@{
    ViewData["Title"] = "Topic Page";
}

<div class="text-center">
    <h1 class="display-4">Training Topics</h1>
 <hr/>
 <ol>
    <li>  Jntroduction to java </li>
    <li> LOOPS   5/2/2023         34000</li>
    <li>  COllections   12/2/2023       87000</li>
   
 </ol>
</div>